doctype html
html
  head
    title Vinny Dance Academy
    block scripts
    block style 
      
  body
    block content
    footer#footer1 
       |Copyright © 2022 VinnyDanceAcademy.com | All rights reserved

    